 <a class="btn btn-primary" href="javascript:history.go(-1);">返回</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>帐号</th>
      <th>状态</th>
      <th style="width: 3.5em;"></th>
    </tr>
  </thead>
  <tbody>
       <volist name="list" id="vo"  >
      <tr>
        <td>{$i}</td>
        <td>{$vo.name}</td>
        <td>{$vo.account}</td>
        <td>{$vo.state}</td>
        <td>
        <a href="{:U("Home/Index/user?id=$vo[id]")}"><i class="fa fa-pencil"></i></a>
      <a href="{:U("Home/Index/deleteuser?id=$vo[id]")}" role="button" data-toggle="modal" onclick="del();"><i class="fa fa-trash-o"></i></a> 
      </tr>
    </volist>
  </tbody>
</table>

<script type="text/javascript">
      function del()
      {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
      }
</script>